body{
    background-color: rgb(32, 59, 94);
}

nav a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}

nav{
    text-align: center;
    font-weight: bold;
    
}

h1{
    text-align: center;
    font-size: 30px;
}

div{
    text-align: center;
}

img{
    width: 400px;
    height: 400px;
    border: 8px solid rgb(22, 53, 122);
    border-radius: 20px;
}

div a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

p{
    font-size: 20px;
}

a:hover{
    background-color: rgb(45, 61, 153);
}